*{
    margin: 0;
    padding: 0;
}

main{
    background-image: url('../img/Concessionaria.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.login-form{
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    background-color: #f0f0f0;
    padding: 30px;
}

.form-group{
    margin: 15px;
}

.form-button{
    padding: 10px;
    background-color: #673ab7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover{
    background-color: #f0f0f0;
    border: #673ab7 2px solid;
    color: #673ab7;
}